# OSX
.DS_Store

# Node
node_modules

# Logs
.log

# Jalangi
jalangi2/
jalangi2

# Benchmart Octane NodeJS
benchmark-octane/*
benchmark-octane

# Generated folders, each user will have their own upon running
generated/*
generated

history/*
history
